<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/beans
		  http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<amq:connectionFactory id="jmsConnectionFactory"
		brokerURL="tcp://127.0.0.1:61616" />

	<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
		<property name="maxConnections" value="8" />
		<property name="maximumActive" value="500" />
		<property name="connectionFactory" ref="jmsConnectionFactory" />
	</bean>


	<camel:camelContext id="camelContext" >
	</camel:camelContext>
	
	<bean id="jmsCfg" class="org.apache.activemq.camel.component.ActiveMQConfiguration">
                <property name="connectionFactory" ref="pooledConnectionFactory"></property>
                <property name="cacheLevelName" value="CACHE_CONSUMER"/>
    </bean>
	<bean id="jms" class="com.jifenn.hb.monitor.jms.camel.LabeldJmsComponent">
		<constructor-arg type="org.apache.camel.component.jms.JmsConfiguration" ref="jmsCfg"></constructor-arg>
		<property name="connectionFactory" ref="pooledConnectionFactory"></property>
		<property name="transacted" value="true"></property>
		<property name="label" value="local"></property>
		<property name="lazyCreateTransactionManager" value="false"></property>
	</bean>
	<bean id="producerTemplate" class="org.apache.camel.impl.DefaultProducerTemplate" init-method="start">
         <constructor-arg index="0"  ref="camelContext" />
    </bean>
</beans>